In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import glob
import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv('data/bike_clean.csv')

In [5]:
df.head()

,Site,Date,Hour,Temperature,Dewpoint,RH,WindDir,Windspeed,CldFrac,MSLP,Weather,Precip,Source
0,KLAX,1/1/1998 0:00:00,1,58,52,81,NaN,0,0.4,NaN,SCT,NaN,NCDC
1,KLAX,1/1/1998 0:00:00,2,55,52,90,NaN,6,0.0,NaN,CLR,NaN,NCDC
2,KLAX,1/1/1998 0:00:00,3,56,51,84,NaN,0,0.7,NaN,HZ,NaN,NCDC
3,KLAX,1/1/1998 0:00:00,4,54,50,87,NaN,3,0.0,NaN,CLR,NaN,NCDC
4,KLAX,1/1/1998 0:00:00,5,54,49,83,NaN,5,0.0,NaN,HZ,NaN,NCDC

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184823 entries, 0 to 184822
Data columns (total 13 columns):
Site           184823 non-null object
Date           184823 non-null object
Hour           184823 non-null int64
Temperature    184823 non-null int64
Dewpoint       184823 non-null int64
RH             184823 non-null int64
WindDir        132240 non-null object
Windspeed      184823 non-null int64
CldFrac        184819 non-null float64
MSLP           132240 non-null float64
Weather        184819 non-null object
Precip         174017 non-null float64
Source         184823 non-null object
dtypes: float64(3), int64(5), object(5)
memory usage: 18.3+ MB

## Make sure you comment out your work! Explain What you are doing

#### Plotting duration as a histogram, then scatter plot of duration Vs. temp and duration Vs. windspeed
#### Then attempt to fit a single regression to windspeed and duration (potentially predict bike ridership)

In [ ]:
df['duration'].plot.hist(bins=25)
df.plot.scatter(x='duration',y='temperature')
df.plot.scatter(x='duration',y='windspeed')

a1,b1 = np.polyfit(df['windspeed'], df['duration'], 1)
windspeed_array = np.arange(18, 81, dtype=np.int)
pred_duration = windspeed_array * a1 + b1